body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1501px;
  height:1787px;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:150px;
  width:1500px;
  height:1786px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:50px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:1500px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:1496px;
  word-wrap:break-word;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:44px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:180px;
  width:123px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:99px;
  word-wrap:break-word;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:44px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:263px;
  width:179px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:155px;
  white-space:nowrap;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:439px;
  width:110px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:106px;
  word-wrap:break-word;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:44px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:347px;
  width:137px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u209_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:113px;
  white-space:nowrap;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:44px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:559px;
  width:179px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u210_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:155px;
  white-space:nowrap;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:44px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:1151px;
  top:457px;
  width:179px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u211_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:155px;
  white-space:nowrap;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:44px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:366px;
  width:81px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u212_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:57px;
  white-space:nowrap;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:44px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:457px;
  width:137px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u213_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:113px;
  white-space:nowrap;
}
#u214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:44px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:971px;
  top:539px;
  width:137px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:113px;
  white-space:nowrap;
}
#u215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:726px;
  width:110px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:106px;
  word-wrap:break-word;
}
#u216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:839px;
  width:110px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:106px;
  word-wrap:break-word;
}
#u217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:985px;
  width:110px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:106px;
  word-wrap:break-word;
}
#u218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:69px;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:1119px;
  width:235px;
  height:69px;
  font-size:14px;
  color:#000000;
  line-height:20px;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:211px;
  white-space:nowrap;
}
#u219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:1343px;
  width:110px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:106px;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:44px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:1245px;
  width:221px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:197px;
  white-space:nowrap;
}
#u221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:44px;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:188px;
  top:1524px;
  width:221px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:197px;
  white-space:nowrap;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:839px;
  width:110px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:106px;
  word-wrap:break-word;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:69px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:979px;
  width:238px;
  height:69px;
  font-size:14px;
  color:#000000;
  line-height:20px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:214px;
  white-space:nowrap;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:923px;
  top:1203px;
  width:110px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:106px;
  word-wrap:break-word;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:44px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:1105px;
  width:207px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:183px;
  white-space:nowrap;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:44px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:1494px;
  width:207px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:183px;
  white-space:nowrap;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:857px;
  width:80px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:1003px;
  width:80px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u228_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:44px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:1361px;
  width:165px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u229_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:141px;
  white-space:nowrap;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:44px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:1443px;
  width:137px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u230_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:113px;
  white-space:nowrap;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:44px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:469px;
  top:1524px;
  width:221px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u231_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:197px;
  white-space:nowrap;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:1616px;
  width:110px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:106px;
  word-wrap:break-word;
}
#u233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1634px;
  width:80px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:44px;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:1786px;
  width:249px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:225px;
  white-space:nowrap;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:1383px;
  width:0px;
  height:0px;
}
#u235_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:147px;
  height:8px;
}
#u235_seg1 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:-9px;
  width:19px;
  height:18px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:22px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:1405px;
  width:0px;
  height:0px;
}
#u236_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u236_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:19px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:1487px;
  width:0px;
  height:0px;
}
#u237_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u237_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:24px;
  width:18px;
  height:19px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:1568px;
  width:0px;
  height:0px;
}
#u238_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u238_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:35px;
  width:18px;
  height:19px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:1656px;
  width:0px;
  height:0px;
}
#u239_seg0 {
  border-width:0px;
  position:absolute;
  left:-186px;
  top:-4px;
  width:190px;
  height:8px;
}
#u239_seg1 {
  border-width:0px;
  position:absolute;
  left:-192px;
  top:-9px;
  width:19px;
  height:18px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:-143px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:1656px;
  width:0px;
  height:0px;
}
#u240_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:128px;
  height:8px;
}
#u240_seg1 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:-277px;
  width:8px;
  height:281px;
}
#u240_seg2 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-277px;
  width:101px;
  height:8px;
}
#u240_seg3 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-282px;
  width:19px;
  height:18px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:74px;
  top:-140px;
  width:100px;
  word-wrap:break-word;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:1696px;
  width:0px;
  height:0px;
}
#u241_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:94px;
}
#u241_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:77px;
  width:18px;
  height:19px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:224px;
  width:0px;
  height:0px;
}
#u242_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u242_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:19px;
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:307px;
  width:0px;
  height:0px;
}
#u243_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u243_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:19px;
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:391px;
  width:0px;
  height:0px;
}
#u244_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u244_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:35px;
  width:18px;
  height:19px;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:519px;
  width:0px;
  height:0px;
}
#u245_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u245_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:19px;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:603px;
  width:0px;
  height:0px;
}
#u246_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u246_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:19px;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:611px;
  top:766px;
  width:0px;
  height:0px;
}
#u247_seg0 {
  border-width:0px;
  position:absolute;
  left:-316px;
  top:-4px;
  width:316px;
  height:8px;
}
#u247_seg1 {
  border-width:0px;
  position:absolute;
  left:-316px;
  top:-4px;
  width:8px;
  height:77px;
}
#u247_seg2 {
  border-width:0px;
  position:absolute;
  left:-321px;
  top:60px;
  width:18px;
  height:19px;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:-242px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:919px;
  width:0px;
  height:0px;
}
#u248_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u248_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:53px;
  width:18px;
  height:19px;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:1065px;
  width:0px;
  height:0px;
}
#u249_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u249_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:41px;
  width:18px;
  height:19px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:1188px;
  width:0px;
  height:0px;
}
#u250_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u250_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:1289px;
  width:0px;
  height:0px;
}
#u251_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u251_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:41px;
  width:18px;
  height:19px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:1423px;
  width:0px;
  height:0px;
}
#u252_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:105px;
}
#u252_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:88px;
  width:18px;
  height:19px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:1568px;
  width:0px;
  height:0px;
}
#u253_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u253_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:53px;
  width:18px;
  height:19px;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:879px;
  width:0px;
  height:0px;
}
#u254_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:120px;
  height:8px;
}
#u254_seg1 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-9px;
  width:19px;
  height:18px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:354px;
  top:1025px;
  width:0px;
  height:0px;
}
#u255_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:120px;
  height:8px;
}
#u255_seg1 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-9px;
  width:19px;
  height:18px;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:766px;
  width:0px;
  height:0px;
}
#u256_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:261px;
  height:8px;
}
#u256_seg1 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:-4px;
  width:8px;
  height:77px;
}
#u256_seg2 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:60px;
  width:18px;
  height:19px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:115px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:919px;
  width:0px;
  height:0px;
}
#u257_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u257_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:47px;
  width:18px;
  height:19px;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:1048px;
  width:0px;
  height:0px;
}
#u258_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u258_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:1149px;
  width:0px;
  height:0px;
}
#u259_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u259_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:41px;
  width:18px;
  height:19px;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:1283px;
  width:0px;
  height:0px;
}
#u260_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:215px;
}
#u260_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:198px;
  width:18px;
  height:19px;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:97px;
  width:100px;
  word-wrap:break-word;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:479px;
  width:0px;
  height:0px;
}
#u261_seg0 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-51px;
  width:268px;
  height:10px;
  -webkit-transform:rotate(159.998494063346deg);
  -moz-transform:rotate(159.998494063346deg);
  -ms-transform:rotate(159.998494063346deg);
  transform:rotate(159.998494063346deg);
}
#u261_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u261_seg2 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:-99px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(159.998494063346deg);
  -moz-transform:rotate(159.998494063346deg);
  -ms-transform:rotate(159.998494063346deg);
  transform:rotate(159.998494063346deg);
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-54px;
  width:100px;
  word-wrap:break-word;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:479px;
  width:0px;
  height:0px;
}
#u262_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-3px;
  width:252px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u262_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u262_seg2 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:-9px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-17px;
  width:100px;
  word-wrap:break-word;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:721px;
  top:479px;
  width:0px;
  height:0px;
}
#u263_seg0 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:37px;
  width:264px;
  height:8px;
  -webkit-transform:rotate(-161.840509533213deg);
  -moz-transform:rotate(-161.840509533213deg);
  -ms-transform:rotate(-161.840509533213deg);
  transform:rotate(-161.840509533213deg);
}
#u263_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u263_seg2 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:72px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-161.840509533212deg);
  -moz-transform:rotate(-161.840509533212deg);
  -ms-transform:rotate(-161.840509533212deg);
  transform:rotate(-161.840509533212deg);
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:75px;
  top:24px;
  width:100px;
  word-wrap:break-word;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:479px;
  width:0px;
  height:0px;
}
#u264_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-3px;
  width:44px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u264_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u264_seg2 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:-9px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u264_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:388px;
  width:0px;
  height:0px;
}
#u265_seg0 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:30px;
  width:204px;
  height:10px;
  -webkit-transform:rotate(-159.943905263425deg);
  -moz-transform:rotate(-159.943905263425deg);
  -ms-transform:rotate(-159.943905263425deg);
  transform:rotate(-159.943905263425deg);
}
#u265_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u265_seg2 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:59px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(-159.943905263423deg);
  -moz-transform:rotate(-159.943905263423deg);
  -ms-transform:rotate(-159.943905263423deg);
  transform:rotate(-159.943905263423deg);
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:45px;
  top:27px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:561px;
  width:0px;
  height:0px;
}
#u266_seg0 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-35px;
  width:148px;
  height:10px;
  -webkit-transform:rotate(155.718539904489deg);
  -moz-transform:rotate(155.718539904489deg);
  -ms-transform:rotate(155.718539904489deg);
  transform:rotate(155.718539904489deg);
}
#u266_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u266_seg2 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:-67px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(155.718539904488deg);
  -moz-transform:rotate(155.718539904488deg);
  -ms-transform:rotate(155.718539904488deg);
  transform:rotate(155.718539904488deg);
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:897px;
  width:80px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:806px;
  width:0px;
  height:0px;
}
#u268_seg0 {
  border-width:0px;
  position:absolute;
  left:-46px;
  top:42px;
  width:92px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u268_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u268_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:78px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:38px;
  width:100px;
  word-wrap:break-word;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:44px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:1221px;
  width:165px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:141px;
  white-space:nowrap;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:44px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:1384px;
  width:137px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:113px;
  white-space:nowrap;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:44px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:1143px;
  top:1459px;
  width:249px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:225px;
  white-space:nowrap;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:80px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:1585px;
  width:110px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:106px;
  word-wrap:break-word;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:1243px;
  width:0px;
  height:0px;
}
#u273_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:156px;
  height:8px;
}
#u273_seg1 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:-9px;
  width:19px;
  height:18px;
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:26px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:1265px;
  width:0px;
  height:0px;
}
#u274_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u274_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:19px;
}
#u274_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:1428px;
  width:0px;
  height:0px;
}
#u275_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:35px;
}
#u275_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:18px;
  width:18px;
  height:19px;
}
#u275_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:1503px;
  width:0px;
  height:0px;
}
#u276_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:86px;
}
#u276_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:69px;
  width:18px;
  height:19px;
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:1625px;
  width:0px;
  height:0px;
}
#u277_seg0 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:-4px;
  width:117px;
  height:8px;
}
#u277_seg1 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:-113px;
  width:8px;
  height:117px;
}
#u277_seg2 {
  border-width:0px;
  position:absolute;
  left:-132px;
  top:-113px;
  width:23px;
  height:8px;
}
#u277_seg3 {
  border-width:0px;
  position:absolute;
  left:-138px;
  top:-118px;
  width:19px;
  height:18px;
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:-163px;
  top:-16px;
  width:100px;
  word-wrap:break-word;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:1323px;
  top:1625px;
  width:0px;
  height:0px;
}
#u278_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u278_seg1 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:-386px;
  width:8px;
  height:390px;
}
#u278_seg2 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:-386px;
  width:79px;
  height:8px;
}
#u278_seg3 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-391px;
  width:19px;
  height:18px;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:52px;
  top:-186px;
  width:100px;
  word-wrap:break-word;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:1638px;
  width:80px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:1538px;
  width:0px;
  height:0px;
}
#u280_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:46px;
  width:100px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u280_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u280_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:87px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u280_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:44px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:1185px;
  top:1303px;
  width:165px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u281_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:141px;
  white-space:nowrap;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:1268px;
  top:1347px;
  width:0px;
  height:0px;
}
#u282_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:15px;
  width:40px;
  height:8px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u282_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u282_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:24px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u282_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:44px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:1213px;
  top:857px;
  width:80px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u283_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:56px;
  word-wrap:break-word;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:1033px;
  top:879px;
  width:0px;
  height:0px;
}
#u284_seg0 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-3px;
  width:182px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u284_seg1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u284_seg2 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:-9px;
  width:19px;
  height:18px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u284_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:44px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:541px;
  top:644px;
  width:249px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u285_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:14px;
  width:225px;
  white-space:nowrap;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:688px;
  width:0px;
  height:0px;
}
#u286_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u286_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:19px;
}
#u286_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
